.ui.fixed.menu.top {
    background-color: #a9f1ec;
}

.customHeader .pushable {
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: visible;
}

/* .pushable {
    overflow-x: visible;
    
    } */