.ui.fixed.menu.top {
    background-color: #4e95db;
}

    .customHeader .pushable {
        position: fixed;
        z-index: 101;
        margin: 0;
        width: 100%;
}

.pushable {
    overflow-x: visible;
    
    }